<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Saliva REPL</title>
  </head>
  <body>
    <div id="editor" />
    <script defer src="<%= htmlWebpackPlugin.options.scriptSrc %>"></script>
  </body>
</html>
